section {
    font-family:(helvetica|Helvetica);   
}

p {
    margin:20px;
    text-transform:capitalize;
}

h1 {
    text-align:center;
    color:(red|\#FF0000);
    font-size:2em;
}

h2 {
    border-left:50px solid black;
    padding:10px;
    background-color:(red|\#FF0000);
}
