section {
    ^color$:(green|\#00FF00);
	margin:1[0-9]*px;
}

p {
	font-size:14px;
}

h2 {
	font-size:2vw;
	font-family:(Helvetica|helvetica);
}

h1 {
    font-size:2.5em;
	font-variant:small-caps;
}
